<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload2" /></td></tr>
				<tr><td></td><td><button type="submit" name="process" value="Process" formaction="/process" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

	<div>
		<ul>
			<table>
				<tr>
					<td th:each="header : ${headers}" th:text="${header}">header</td>		
				</tr>
				<tr>
					<td th:each="row : ${rows}" th:text="${row.col}">header</td>
				</tr>
			</table>
		</ul>
	</div>


</body>
</html>
